body{
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container{
    width: 325px;
    height: 500px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 2px;
}

.mainImg{
    width: 290px;
    height: 290px;
    margin: 0 auto;
    margin-top: 15px;
}

.mainImg img{
    width: 100%;
    border-radius: 10px;
}

.mainTxt{
    width: 280px;
    margin: 0 auto;
}

.mainTxt h1{
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

.mainTxt p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-top: 5px;
}